@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-app-bg: var(--app-bg);
  --color-surface: var(--surface);
  --color-app-text: var(--app-text);
  --color-app-text-muted: var(--app-text-muted);
  --color-app-border: var(--app-border);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);

  --color-success: var(--success);
  --color-danger: var(--danger);
  --color-app-bg-sec : var(--app-bg-secondry)
}

:root {
  --app-bg: #f7f8fa;
  --surface: #ffffff;
  --app-bg-secondry : #F7F8FA;
  --app-text: #0f172a;
  --app-text-muted: #64748b;

  --app-border: #e1e4ea;

  --primary: #15803d;
  --primary-hover: #166534;

  --success: #15803d;
  --danger: #dc2626;
}

.dark {
  --app-bg: #0f172a;
  --surface: #1e293b;
  --app-bg-secondry : #F7F8FA;
  

  --app-text: #f8fafc;
  --app-text-muted: #94a3b8;

  --app-border: #334155;

  --primary: #22c55e;
  --primary-hover: #16a34a;

  --success: #22c55e;
  --danger: #f87171;
}


/* cutsom class */
@utility flex-hr{
    display : flex;
    items-align : center; 
}